* {
    margin: 0;
}

.mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/fondo1.jpg");
}

.mainSection h1{
    font-size: 72px;
    background: black;
    color: white;
    width: 35%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}